
ProgOrientadaAObj/19-TestPadraoBCE/out/production/19-PadraoBCE/TestBCE/EntityJogo.class
ProgOrientadaAObj/19-TestPadraoBCE/out/production/19-PadraoBCE/TestBCE/BoundaryJogo.class
ProgOrientadaAObj/19-TestPadraoBCE/out/production/19-PadraoBCE/CRUDAlunosBCE/EntityAluno.class
ProgOrientadaAObj/19-TestPadraoBCE/out/production/19-PadraoBCE/CRUDAlunosBCE/BoundaryAluno.class
ProgOrientadaAObj/19-TestPadraoBCE/19-PadraoBCE.iml
ProgOrientadaAObj/19-TestPadraoBCE/.idea/vcs.xml
ProgOrientadaAObj/19-TestPadraoBCE/.idea/uiDesigner.xml
ProgOrientadaAObj/19-TestPadraoBCE/.idea/modules.xml
ProgOrientadaAObj/19-TestPadraoBCE/.idea/misc.xml
*.iml
*.xml
*.class
